<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
	<select id="pdSelect" parameterType = "Product" >
		SELECT PDSUBNAME, PDCOST, PDPRICE FROM PRODUCT "
					+ "WHERE PDCOST &gt; (SELECT min(PDCOST) FROM PRODUCT WHERE PDNAME = 'TV')" 
			+ "AND PDCOST &lt; (SELECT max(PDCOST) FROM PRODUCT WHERE PDNAME = 'CELLPHONE')" 
			+ "ORDER BY 2;
	</select>
</mapper>